
/**
* -------------
* Global Styles
* -------------
*/

body {
  font-family: Poppins;
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}


h1 { 
  font-size: 88px;
  font-weight: 900;
  color: white;
  text-align: center;
  background-color: #fcce00;
  margin: 8px 0px 8px 0px;
  padding: 0 0px 5px 0px;
}

h2 { 
  font-size: 38px;
  font-weight: 900;
  color: white;
  text-align: center;
  background-color: #ff6b00;
  margin: 8px 0px 8px 0px;
  padding: 16px 0px 15px 0px;
}

h3 { 
    color: #231f20;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin: 64px 0px 64px 0px;
  }

h4 {
    color: #231f20;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 8px 0px 8px 0px;
}

h5 {
  font-size: 32px;
  font-weight: 900;
  color: white;
  margin: 64px 0px 0px 0px;
}

h6 {
  color: white;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin: 0px 0px 64px 0px;
}

.rectangle3 {
  background-color: #e02020;
  font-size: 32px;
  margin: 8px 0px 8px 0px;
}

.rectangle4 {
  background-color: #b620e0;
  font-size: 16px;
  margin: 8px 0px 8px 0px;
}

.rectangle5 {
  background-color: #6236ff;
  font-size: 8px;
  margin: 8px 0px 8px 0px;
}

.product_content_box {
  display: flex;
}

.product_content_box div {
  flex-basis: 0;
  flex-grow: 1;
}
.product_content{
margin: 0px 48px 0px 32px;
}

.product_picture{
  background-image: linear-gradient(#fcce00, transparent); 
}

.product_picture img{
  mix-blend-mode: darken;
}

.rectangle_latest_releases {
  background-color: #231f20;
  padding: 64px 0px 0px 0px;
}

.gallery_pics {
  margin: 0px 0px 32px 32px;
}

.content_text {
  text-align: justify;
  color: #231f20;
  font-size: 16px;
  font-weight: regular;
  margin: 32px 0px 32px 0px;
}

.slideshow_text {
  font-size: 24px;
  font-weight: regular;
  color: white;
  margin: 32px 0px 32px 0px;
}

.learn_more_white {
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.game_programe {
  text-align: center;
  font-size: 14px;
  font-weight: regular;
  color: white;
}

.warlords {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fcce00;
}

.latest_releases_text {
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: regular;
}

.basic_programming {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #ff6b00;
}

a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}

/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/